# NOTE: These environment variables are only needed for running the tests
# API token - Needs to be read/write - eg. vntg_tkn_12345asdf
# VANTAGE_API_TOKEN=
# Workspace token where objects will be created - eg. wrkspc_12345asdf
# VANTAGE_WORKSPACE_TOKEN=
# Optional - Default is api.vantage.sh
# VANTAGE_API_BASE_URL=
