name: Publish Package

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@latest

      - run: npm ci

      - name: Get the version and create a tag/publish if it doesn't exist
        run: |
          VERSION=$(jq -r '.version' package.json)
          if git tag -l "v$VERSION" | grep -q .; then
            echo "Tag v$VERSION already exists"
          else
            echo "Tag v$VERSION does not exist"

            # Build the package and publish it
            npm run build
            npm publish

            # Push the tag to the remote repository
            git tag "v$VERSION"
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git push origin "v$VERSION"
          fi
