on: push
name: Run Tests

jobs:
    typescript-check:
        name: TypeScript Check
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"
            - name: Install Dependencies
              run: npm install
            - name: Run TypeScript Check
              run: npm run type-check

    dry-build:
        name: Dry Build
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"
            - name: Install Dependencies
              run: npm install
            - run: npm run build
