on: push
name: Run Tests

jobs:
    typescript-check:
        name: TypeScript Check
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"
            - name: Install Dependencies
              run: npm install
            - name: Run TypeScript Check
              run: npm run type-check

    unit-tests:
        name: Unit Tests
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"
            - name: Install Dependencies
              run: npm install
            - name: Run Unit Tests
              run: npm run test BaseClient.test.ts

    e2e-tests:
        name: E2E Tests
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"
            - name: Install Dependencies
              run: npm install
            - name: Run E2E Tests
              run: npm run test e2e.test.ts
              env:
                  VANTAGE_API_TOKEN: ${{ secrets.VANTAGE_API_TOKEN }}
                  VANTAGE_WORKSPACE_TOKEN: ${{ secrets.VANTAGE_WORKSPACE_TOKEN }}

    dry-build:
        name: Dry Build
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"
            - name: Install Dependencies
              run: npm install
            - run: npm run build
